# GitHub credentials
GITHUB_API_URL = "https://api.github.com"
GITHUB_TOKEN = "<YOUR_GITHUB_TOKEN>"
GITHUB_USERNAME = "<YOUR_GITHUB_USERNAME>"

# Google Gemini AI Configuration
GEMINI_API_KEY = "<YOUR_GEMINI_API_KEY>"
GEMINI_MODEL_NAME = "gemini-2.5-flash"
